@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    font-family: 'Roboto', sans-serif;
    padding:5px;
}

h1{
    font-size: 0.6em;
    margin-top: 5px;
}

h2{
    font-size: 0.5em;
    margin-top: 5px;
}

p, span{
    font-size: 0.3em;
}

/** CLASES GENERALES **/

.icon{
    font-size: 0.3em;
    color: #858282;
    margin-right: 2px;
}

.hora_lugar_publicacion{
    color: #858282;
    position: absolute;
    bottom: 0;
}

/***********************/

.header{
    display: flex;
    flex-wrap: wrap;
}

.header__left{
    width: 60%;
}

.header__left__img{
    width: 100%;
}

.header__left__img img{
    width: 100%;
    height: 100%;
}

.header__right{
    width: calc(40% - 50px);
    padding-left:10px;
    padding-right:40px;
    position: relative;
}

.header__right__text{
    width: 100%;
}

.header__right__text p{
    color: #858282;
}

.header__ul--mobile{
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.header__ul--mobile ul{
    display:flex;
    padding-left: 12px;
}

.header__ul--mobile ul li{
   flex-basis: 100px;
   padding-right: 10px;
   font-size: 0.3em;
   font-weight: bold;
}

.header__right__ul--desktop{
    display:none;
}

.noticias1{
    display: flex;
    flex-direction: column;
}

.noticias1__noticia{
    display: flex;
    margin-top:20px;
}

.noticias1__noticia__img{
    width: 30%;
}

.noticias1__noticia__img img{
    width:100%;
    height:100%;
}

.noticias1__noticia__text{
    width: 40%;
    position: relative;
    padding-left: 10px;
}

.noticias1__noticia__text p{
    color: #858282;
    visibility: hidden;
}

.noticias2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.noticias2__header{
    width: 100%;
    margin-left: 20px;
}

.noticias2__header h1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noticias2__header h1:after {
    content: '';
    border-top: 1px solid #b6b0b0;;
    margin: 3px 20px 0 10px;
    flex: 1 0 20px;
}

.noticias2__noticia{
    position: relative;
    width: calc(33.33% - 5px);
    margin-right: 5px;
    margin-bottom: 15px;
}

.noticias2__noticia img{
   width: 100%;
}


/* MEDIA QUERIES */

@media (min-width: 1200px) {

   h1{
       font-size: 2.5em;
       margin-top: 20px;
   }

   h2{
       font-size: 1.2em;
   }

   p, span{
       font-size: 1.3em;
   }

   .icon{
       font-size: 1em;
       margin-right: 10px;
   }

   .header__ul--mobile{
       display:none;
   }

   .header__left{
        flex: 1 0 60%;
    }

   .header__right{
        flex: 1 0 calc(30% - 40px);
        padding-left: 40px;
   }

   .header__right__text span{
        position: static;
   }

   .header__right__ul--desktop{
        display: block;
    }

    .header__right__ul--desktop ul{
        display: block;
        padding-left: 10px;
        margin-top: 50px;
    }

    .header__right__ul--desktop ul li{
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .noticias1{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .noticias1__noticia{
        display: flex;
        flex-direction: column;
        flex: 1 0 calc(33.33% - 60px);
        margin-right: 20px;
    }

    .noticias1__noticia__img{
        width: 100%;
        height: 70%;
    }

    .noticias1__noticia__text{
        width: 100%;
    }

    .noticias1__noticia__text p{
        visibility: visible;
        margin-bottom: 40px;
    }

    .noticias2{
        flex-direction: row;
    }

    .noticias2__noticia{
        flex: 1;
        margin-left: 20px;
    }

    .noticias2__noticia h2{
        margin-bottom: 60px;
    }

    .noticias2__noticia img{
        height: 70%;
    }
   
}
